
.grid-stack > .grid-stack-item > .grid-stack-item-content {

    padding: none;

}

.widget {
    margin: none;
}

.widget:hover {
    margin: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
}


.grid-stack-item .widget:hover {

    z-index: 999;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);

}

#dashboard-addwidget {

    position: fixed;
    
    bottom: 5em;
    right: 5em;
}

#dashboard-addwidget:hover {

    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
    cursor: pointer;

}

